*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
html{
    background: rgb(20, 19, 19)
}
.content{
        width: 500px;
        height: 500px;
        position: relative;
        margin:10vh auto;
        border-radius: 5px;
        background-image: linear-gradient(to top, #a5eaf3 0%, #46467d 100%);
        overflow: hidden;
}
.wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    margin-left: -260px;
    margin-top: -260px;
    /* left: 50%; */
    bottom: 20%;
    border-radius: 35%;
    background: rgb(225, 228, 228);
    animation: wave 15s infinite linear;
    -webkit-animation: wave 15s infinite linear;
}
@keyframes wave{
0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
} 
}